/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/*//kitties app stuff*/
/*body {
  background-image: url("../img/background.png");
  text-align: center;
  font-family: georgia;

}*/

.kitties {
  padding: 5px;
  margin: 10px;
  border: 2px dashed gray;

}

.left-container, .right-container {
  float:left;
  border: 2px solid red;
  width: 450px;
  background-color: yellow;
}


/*for Model Citizen Page*/

table {
  border:10px solid black;
  border-collapse:collapse;
  width: 650px;
  }
th,td {
  border:2px solid black;
  padding:2px;
  width: auto 0;
  }
th {
  text-align:left;
  }
 
.textbox { 
    background: #1A1A1A; 
    font-size: 20px;
    height:50px; 
    width: 275px; 
    border-radius: 2em; 
    border: none; 
    color: #A2A2A2; 
    padding-left: 1em; 
    outline: none; 
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%) 
} 

.citizen {
  width: 650px;
  margin: 0 auto;
  font-family: georgia;
  background-color: gray;
  text-align: center;

}

#citizen-inner {
 /* padding-left: 6px;*/
  text-align: left;
}
 
