<div class="citizen">
  
<h1>Model Citizen Songs for Virtuosos</h1>
  <br />
  <input class="textbox" type="text" size="100px" ng-model="x" placeholder="Enter Artist, Title or Singer"/>

  <br /><br />
 <div id="citizen-inner">
    <table>
      <tr>
        <th>TITLE</th>
        <th>ARTIST</th> 
        <th>SINGER</th>  
   
      </tr>
      <tr ng-repeat="s in songs | filter:x | orderBy: 'title'">
        <td>{{s.title}}</td>
        <td>{{s.artist}}</td>
        <td style="width:77px; width: 77px; padding: 4px 0 0 3px;"><img x-ng-src="{{s.image}}"/></td>
     </tr>
    </table>
  </div>
</div>