<div class="citizen">
  
<h1>Model Citizen Songs for Virtuosos</h1>

    <div class="taskForm">
      <br>
      <h3>Add a new song:</h3> 
      <br>
       <input class="textbox" type="text" x-ng-model="title" placeholder="Title"/><br><br>
       <input class="textbox" type="text" x-ng-model="artist" placeholder="Artist"/><br><br/>
      <input class="textbox" type="text" x-ng-model="singer" placeholder="Singer"/><br><br><br/>

     <!--  <select>
        <option value="Marc">Marc</option>
        <option value="Keith">Keith</option>
        <option value="Paul">Paul</option>
      </select><br> -->

       <input type="button" class="buttonred" value="Add New Virtuosity!" x-ng-click="addOne();"/>
    </div>

  <br /><br/>

  <h3>Or...</h3>
  <br /><br/>
  <input class="textbox" type="text" size="100px" ng-model="x" placeholder="Search Artist or Title or Singer"/>

  <br /><br />
 <div id="citizen-inner">
    <table>
      <tr>
        <th>TITLE</th>
        <th>ARTIST</th> 
        <th>SINGER</th>  
   
      </tr>
      <tr ng-repeat="s in songs | filter:x | orderBy: 'title'">
        <td>{{s.title}}</td>
        <td>{{s.artist}}</td>
        <td style="width:77px; width: 77px; padding: 4px 0 0 3px;"><img x-ng-src="{{s.image}}"/></td>
     </tr>
    </table>
  </div>
</div>