
<div>
	Name:
	<br />
	<input type="text" ng-model="x" /> {{ x }}</input>
	<br />
	<!-- <ul>
		<li data-ng-repeat="n in names | filter:x | orderBy: 'person'"> {{n.person | uppercase}}  {{n.age}}</li>
	</ul> -->
<div ng-repeat="n in names | filter:x | orderBy: 'letter'">
	
		 <!-- <li ng-repeat="n in names | filter:x | orderBy: 'letter'"> {{n.letter | uppercase}} - {{n.leet}}</li> --> 
		

<!-- 		<li> {{n.letter | uppercase}} - {{n.leet}} - {{names}}</li>
 -->		<p> {{n.letter | uppercase}} - {{n.leet}}</p>
	
</div>

</div>



