<!-- <div size="100%"> -->
<div id="outerContainer">


<div class="container" >
  <!-- ng-init="showDetails=false"  --> 
<header ng-cloak>TIC TAC ROLL</header>
  <div ng-show="showDetails" ng-repeat="row in games[gameId].ticTacToe" ng-cloak>
<!--     <div id="winbox">
 --><div ng-class="{sqr:true, x:cell.val=='X', o:cell.val=='O'}" ng-click="clickSquare(cell)" ng-repeat="cell in row" />
          </div>

      <div class="clearfix"></div>

  <!-- </div> -->
  </div>
   <div>
         <a href="index.html"><input type="button" id="btn1" value="RESET" ng-click="showDetails=!showDetails" ng-show="showDetails"></a>
  </div> 

  <div id="startmessage" class="" ng-click="showDetails=!showDetails" ng-hide="showDetails">
   <div> 
      <h1>CLICK TO BEGIN</h1>
  </div>
</div> 


  <div id="popup" class="" ng-show="games[gameId].bamawinmessage">
   
      <br /><br /><br /><br />
    <div>
      <a href="index.html">
<!--         <img src="/images/nick.jpg" />
 -->      </a>
    </div>
    <div>
        <h1>ROLL TIDE!</h1>
        <h4>Click pic to play again</h4>
    </div>

      
</div> 
 
      

 <div id="popup" class="" ng-show="games[gameId].oregonwinmessage">
      <div>
        <h1>OREGON WINS!</h1>
      </div>
      <br /><br />
      <div>
<!--       <img src="../images/angrynick.jpg" />
 -->      </div>    
    <div>
      <a href="index.html"><button>PLAY AGAIN</button></a>
  </div>
</div>  

<div id="popup" class="" ng-show="games[gameId].drawmessage">
      <div><br /><br />
        <h1>IT'S A DRAW</h1>
      </div>
      
      <div>
<!--       <img src="../images/nickdraw.jpg" />
 -->          </div>
    
    <div>
      <a href="index.html"><button>PLAY AGAIN</button></a>
  </div>
</div>    



</div>



<!-- 
<div class="tune">
<audio controls auto play>
  <source src="music/yeaal.mp3" type="audio/mpeg">  
  <source src="horse.ogg" type="audio/ogg">
  <embed height="0" width="0" src="music/yeaal.mp3">
</audio>
</div>
 -->

<!--     </div> -->
